<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>随机文案</title>
    <link rel="shortcut icon" href="#"/>

    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/sweetalert.css">
    <script type="text/javascript" src="../js/sweetalert-dev.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/randomText.js"></script>
</head>

<body class="pt-2">

<div class="table-div border-top">
    <form id="update-form" class="needs-validation">
        <div class="form-group">
            <input id="id" name="id" type="hidden">
        </div>
        <div class="form-group">
            <input id="update-founder" name="founder" type="hidden" data-required="1">
        </div>
        <div class="form-group">
            <input id="update-textId" name="textId" type="hidden" data-required="1">
        </div>
        <div class="form-group">
            <label for="update-product">产品名称</label>
            <input id="update-product" name="product" type="text" class="form-control" autocomplete="off">
            <div class="invalid-feedback">
                请输入产品名称！
            </div>
        </div>
        <div class="form-group">
            <label for="update-title">产品标题</label>
            <textarea id="update-title" rows="5" placeholder="请填写产品标题" name="title" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入产品标题！
            </div>
        </div>
        <div class="form-group">
            <label for="update-titleColor">主题颜色</label>
            <textarea id="update-titleColor" rows="5" placeholder="请填写主题颜色" name="titleColor" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入主题颜色！
            </div>
        </div>
        <div class="form-group">
            <label for="update-keyword">keyword</label>
            <textarea id="update-keyword" rows="5" placeholder="请填写keyword(一行一个)" name="keyword" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入keyword！
            </div>
        </div>
        <div class="form-group">
            <label for="update-longword">longword</label>
            <textarea id="update-longword" rows="5" placeholder="请填写longword(一行一个)" name="longword" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入longword！
            </div>
        </div>
        <div class="form-group">
            <label for="update-scenario">scenario</label>
            <textarea id="update-scenario" rows="5" placeholder="请填写scenario(一行一个)" name="scenario" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入scenario！
            </div>
        </div>
        <div class="form-group">
            <label for="update-user">user</label>
            <textarea id="update-user" rows="5" placeholder="请填写user(一行一个)" name="user" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入user！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop1">prop1</label>
            <textarea id="update-prop1" rows="5" placeholder="请填写prop1(一行一个)" name="prop1" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop1！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop2">prop2</label>
            <textarea id="update-prop2" rows="5" placeholder="请填写prop2(一行一个)" name="prop2" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop2！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop3">prop3</label>
            <textarea id="update-prop3" rows="5" placeholder="请填写prop3(一行一个)" name="prop3" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop3！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop4">prop4</label>
            <textarea id="update-prop4" rows="5" placeholder="请填写prop4(一行一个)" name="prop4" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop4！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop5">prop5</label>
            <textarea id="update-prop5" rows="5" placeholder="请填写prop5(一行一个)" name="prop5" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop5！
            </div>
        </div>
        <div class="form-group">
            <label for="update-luckword">luckyword</label>
            <textarea id="update-luckword" rows="5" placeholder="请填写luckyword(一行一个)" name="luckword" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入luckyword！
            </div>
        </div>
        <div class="form-group">
            <label for="update-point1">point1</label>
            <textarea id="update-point1" rows="5" placeholder="请填写point1(一行一个)" name="point1" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入point1！
            </div>
        </div>
        <div class="form-group">
            <label for="update-point2">point2</label>
            <textarea id="update-point2" rows="5" placeholder="请填写point2(一行一个)" name="point2" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入point2！
            </div>
        </div>
        <div class="form-group">
            <label for="update-point3">point3</label>
            <textarea id="update-point3" rows="5" placeholder="请填写point3(一行一个)" name="point3" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入point3！
            </div>
        </div>
        <div class="form-group">
            <label for="update-point4">point4</label>
            <textarea id="update-point4" rows="5" placeholder="请填写point4(一行一个)" name="point4" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入point4！
            </div>
        </div>
        <div class="form-group">
            <label for="update-point5">point5</label>
            <textarea id="update-point5" rows="5" placeholder="请填写point5(一行一个)" name="point5" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入point5！
            </div>
        </div>
        <div class="form-group">
            <label for="update-description">description</label>
            <textarea id="update-description" rows="5" placeholder="请填写description(一行一个)" name="description" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入description！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop6">prop6</label>
            <textarea id="update-prop6" rows="5" placeholder="请填写prop6(一行一个)" name="prop6" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop6！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop7">prop7</label>
            <textarea id="update-prop7" rows="5" placeholder="请填写prop7(一行一个)" name="prop7" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop7！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop8">prop8</label>
            <textarea id="update-prop8" rows="5" placeholder="请填写prop8(一行一个)" name="prop8" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop8！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop9">prop9</label>
            <textarea id="update-prop9" rows="5" placeholder="请填写prop9(一行一个)" name="prop9" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop9！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop10">prop10</label>
            <textarea id="update-prop10" rows="5" placeholder="请填写prop10(一行一个)" name="prop10" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop10！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop11">prop11</label>
            <textarea id="update-prop11" rows="5" placeholder="请填写prop11(一行一个)" name="prop11" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop11！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop12">prop12</label>
            <textarea id="update-prop12" rows="5" placeholder="请填写prop12(一行一个)" name="prop12" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop12！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop13">prop13</label>
            <textarea id="update-prop13" rows="5" placeholder="请填写prop13(一行一个)" name="prop13" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop13！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop14">prop14</label>
            <textarea id="update-prop14" rows="5" placeholder="请填写prop14(一行一个)" name="prop14" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop14！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop15">prop15</label>
            <textarea id="update-prop15" rows="5" placeholder="请填写prop15(一行一个)" name="prop15" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop15！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop16">prop16</label>
            <textarea id="update-prop16" rows="5" placeholder="请填写prop16(一行一个)" name="prop16" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop16！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop17">prop17</label>
            <textarea id="update-prop17" rows="5" placeholder="请填写prop17(一行一个)" name="prop17" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop17！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop18">prop18</label>
            <textarea id="update-prop18" rows="5" placeholder="请填写prop18(一行一个)" name="prop18" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop18！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop19">prop19</label>
            <textarea id="update-prop19" rows="5" placeholder="请填写prop19(一行一个)" name="prop19" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop19！
            </div>
        </div>
        <div class="form-group">
            <label for="update-prop20">prop20</label>
            <textarea id="update-prop20" rows="5" placeholder="请填写prop20(一行一个)" name="prop20" type="text" class="form-control" autocomplete="off" data-required="1"></textarea>
            <div class="invalid-feedback">
                请输入prop20！
            </div>
        </div>
    </form>
    <div class="border-top" style="padding: 15px;">
        <button id="update-submit-btn" type="button" class="btn btn-primary">
            <i class="bi bi-arrow-bar-up icon"></i>
            提交
        </button>
        <button id="update-close-btn" type="button" class="btn btn-primary left-margin">
            <i class="bi bi-x-circle icon"></i>
            关闭
        </button>
    </div>
</div>


</body>
</html>